{% extends "dash/data.html" %}
{% block content %}
<table class="table">
  <thead>
  	<tr>
	  <th>Role</th>
	  <th>Permissions</th>
	  <th>Last Read Access</th>
	  <th>Date Modified</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
    <tr>
	  <td>TEP</td>
	  <td>READ, WRITE</td>
	  <td>current</td>
	  <td>2018/10/12 06:30:00</td>
	  <td><a href="#">Edit Permissions</a></td>
	</tr>
	<tr>
	  <td>TrialN</td>
	  <td>READ</td>
	  <td>current</td>
	  <td>2018/10/12 06:30:30</td>
	  <td><a href="#">Edit Permissions</a></td>

	</tr>
	<tr>
	  <td>Sandia</td>
	  <td>None</td>
	  <td>never</td>
	  <td>2018/10/12 06:30:00</td>
	  <td><a href="#">Edit Permissions</a></td>

	</tr>
	<tr>
	  <td>UA</td>
	  <td>None</td>
	  <td>2018/10/10 23:59:59</td>
      <td>2018/10/12 06:30:00</td>
	  <td><a href="#">Edit Permissions</a></td>

	</tr>
  </tbody>
</table> 
<div class="tools access-tools mt-1">
  <button role="button" class="btn btn-primary btn-sm">Add Role</button>
</div>
{% endblock %}
