{% extends "dash/data.html" %}
{% block content %}

{{ metadata | safe }}
{% include "sections/notifications.html" %}
{% if aggregate is defined %}

{% set update_allowed = is_allowed('update') %}
{% if update_allowed %}
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.add_aggregate_observations', uuid=aggregate['aggregate_id'] ) }}">Add Observation</a>
{% endif %}

<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_aggregate_forecast', uuid=aggregate['aggregate_id'] ) }}">Create Forecast</a>

<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_aggregate_cdf_forecast_group', uuid=aggregate['aggregate_id'] ) }}">Create Probabilistic Forecast</a>

{% if upload_link is defined and is_allowed('write_values') %}
<a role="button" class="btn btn-primary btn-sm" href="{{upload_link}}">Upload data</a>
{% endif %}

{% if is_allowed('delete') %}
<a role="button" class="btn btn-danger btn-sm" href="{{ url_for('data_dashboard.delete_aggregate', uuid=aggregate['aggregate_id']) }}">Delete</a>
{% endif %}

<h3 class="mt-3">Observations</h3>
<div class="tools aggregate-observation-tools mt-1">
  {% block tools %}
  <input type="text" placeholder="Search" class="search">
  {% endblock %}
</div>
<table class="aggregate-observation-table table results">
  <thead>
    <th scope="col">Name</th>
    <th scope="col" id="provider-header">
      <button type="button" class="btn btn-th dropdown-toggle" data-toggle="collapse" data-target="#org-filters" >Organization</button></th>
    <th scope="col">Effective From</th>
    <th scope="col">Effective Until</th>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td> 
    </tr>
    {% for obs in observations %}
    <tr class="aggregate-observation-row">
        <td scope="col"><a href="{{ url_for('data_dashboard.observation_view', uuid=obs["observation_id"]) }}">{{ obs["name"] }}</a></td>
        <td scope="col" class="provider-column">{{ obs["provider"] }}</td>
        <td scope="col" class="effective-from-column datetime-td">{{ obs["effective_from"] | format_datetime}}</td>
        {% if obs["effective_until"] is not none %}
        <td scope="col" class="effective-until-column datetime-td">{{ obs["effective_until"] | format_datetime}}</td>
        {% else %}
        {% if update_allowed %}
        <td scope="col"><a href="{{ url_for('forms.remove_aggregate_observations', uuid=aggregate['aggregate_id'], observation_id=obs['observation_id']) }}">Set Effective Until</a></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if plot is not none %}
<div class="row data-plots-wrapper">
{{ plot | safe }}
</div>
{% if bokeh_script is defined %}
{{ bokeh_script | safe }}
{% endif %}
{% endif %}
{% include "data/time_widgets.html" %}
{% endif %}
{% endblock %}
