{% extends "dash/data.html" %}
{% block content %}

{{ metadata | safe }}
{% include "sections/notifications.html" %}
{% if aggregate is defined %}
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.add_aggregate_observations', uuid=aggregate['aggregate_id'] ) }}">Add Observation</a>
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_aggregate_forecast', uuid=aggregate['aggregate_id'] ) }}">Create Forecast</a>
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_aggregate_cdf_forecast_group', uuid=aggregate['aggregate_id'] ) }}">Create Probabilistic Forecast</a>
{% if upload_link is defined %}
<a role="button" class="btn btn-primary btn-sm" href="{{upload_link}}">Upload data</a>
{% endif %}
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.download_aggregate_data', uuid=aggregate['aggregate_id']) }}">Download data</a>
<a role="button" class="btn btn-danger btn-sm" href="{{ url_for('data_dashboard.delete_aggregate', uuid=aggregate['aggregate_id']) }}">Delete</a>

<h3 class="mt-3">Observations</h3>
<div class="tools aggregate-observation-tools mt-1">
  {% block tools %}
  <input type="text" placeholder="Search" class="search">
  {% endblock %}
</div>
<table class="aggregate-observation-table table results">
  <thead>
    <th scope="col">Name</th>
    <th scope="col" id="provider-header">
      <button type="button" class="btn btn-th dropdown-toggle" data-toggle="collapse" data-target="#org-filters" >Organization</button></th>
    <th scope="col">Effective From</th>
    <th scope="col">Effective Until</th>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td> 
    </tr>
    {% for obs in observations %}
    <tr class="aggregate-observation-row">
        <td scope="col"><a href="{{ url_for('data_dashboard.observation_view', uuid=obs["observation_id"]) }}">{{ obs["name"] }}</a></td>
        <td scope="col" class="provider-column">{{ obs["provider"] }}</td>
        <td scope="col">{{ obs["effective_from"] }}</td>
        {% if obs["effective_until"] is not none %}
        <td scope="col">{{ obs["effective_until"] }}</td>
        {% else %}
        <td scope="col"><a href="{{ url_for('forms.remove_aggregate_observations', uuid=aggregate['aggregate_id'], observation_id=obs['observation_id']) }}">Set Effective Until</a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if plot is not none %}
<div class="row data-plots-wrapper">
{{ plot | safe }}
</div>
{% if bokeh_script is defined %}
{{ bokeh_script | safe }}
{% endif %}
<script src="/static/js/plot-bound-parsing.js"></script>
<div class="form-group mt-3">
<div class="form-element">
  <label for="start">Start (UTC):</label><br/>
  <input type="date" id="start-date" name="period-start-date" {% if form_data is defined %}value="{{form_data['period-start-date']}}"{% endif %}required>
  <input type="time" id="start-time" name="period-start-time" {% if form_data is defined %}value="{{form_data['period-start-time']}}"{% else %} value="00:00"{% endif %} required>
</div>
<div class="form-element">
  <label for="end">End (UTC)</label><br/>
  <input type="date" id="end-date" name="period-end-date" {% if form_data is defined %}value="{{form_data['period-end-date']}}"{% endif %}required>
  <input type="time" id="end-time" name="period-end-time" {% if form_data is defined %}value="{{form_data['period-end-time']}}"{% else %} value="00:00"{% endif %} required>
</div>
<div class="form-element">
  <button type="submit" form="plot-range-adjust" value="Submit" class="btn btn-primary">Set time range</button>
</div>
<form action="" method="get" id="plot-range-adjust" onsubmit="ParseStartEnd()">
<input type="text" id="start" name="start" hidden>
<input type="text" id="end" name="end" hidden>
</div>
{% endif %}
{% endif %}
{% endblock %}
