{% extends "dash/data.html" %}
{% import "forms/form_macros.jinja" as form %}
{% block content %}
{{ metadata | safe }}
{% if upload_link is defined %}
<a role="button" class="btn btn-primary btn-sm" href="{{upload_link}}">Upload data</a>
{% endif %}
{% if download_link is defined %}
{% endif %}
{% if delete_link is defined %}
<a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}
{% include "sections/notifications.html" %}
{% if plot is not none %}
<div class="row data-plots-wrapper">
{{ plot | safe }}
</div>
{% if bokeh_script is defined %}
{{ bokeh_script | safe }}
{% endif %}
{# Time widgets are used for either setting the bounds of the plot or download #}
{% include "data/time_widgets.html" %}
</div>
{% endif %}
{% endblock %}
