{% extends "dash/data.html" %}
{% block content %}
{{ metadata | safe }}
{% if upload_link is defined and is_allowed('write_values') %}
<a role="button" class="btn btn-primary btn-sm" href="{{upload_link}}">Upload data</a>
{% endif %}
{% if download_link is defined and is_allowed('read_values') %}
<a role="button" class="btn btn-primary btn-sm" href="{{download_link}}">Download data</a>
{% endif %}
{% if delete_link is defined and is_allowed('delete') %}
<a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}
{% include "sections/notifications.html" %}
{% if constant_values is defined %}
<div class="bin-list">
  <table>
    <tr>
      <th>Value</th>
    </tr>
    {% for cdf_bin in constant_values %}
    <tr>
        <td><a href="{{url_for('data_dashboard.cdf_forecast_view', uuid=cdf_bin['forecast_id'])}}">{{ cdf_bin['constant_value'] }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
<div class="row data-plots-wrapper">
    <!-- PLOTS -->
</div>
{% endblock %}
