{% extends "data/asset.html" %}
{% block content %}

{% if delete_link is defined and is_allowed('delete') %}
  <a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}

{% if constant_values is defined %}
<div class="bin-list">
  <table>
    <tr>
      <th>Value</th>
    </tr>
    {% for cdf_bin in constant_values %}
    <tr>
        <td><a href="{{url_for('data_dashboard.cdf_forecast_view', uuid=cdf_bin['forecast_id'])}}">{{ cdf_bin['constant_value'] }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
