{% extends "dash/data.html" %}
{% set page_title = "TEP/Avalon 2/AC Power" %}
{% block content %}
<div class="data-metadata border border-top-0 mb-3">
  <h3 class="section-title">Metadata</h3>
  <div class="row">
	<div class="bg-warning">Error: Something is wrong.</div>
    <ul class="data-metadata-fields col-md-6 col-xs-12">
      <li class="metadata-field"><span class="data-metadata-label">Type: </span>GHI</li>
      <li class="metadata-field"><span class="data-metadata-label">DC: </span>60 MW</li>
      <li class="metadata-field"><span class="data-metadata-label">AC: </span>50 MW</li>
      <li class="metadata-field"><span class="data-metadata-label">Tracking: </span>Single Axis</li>
      <li class="metadata-field"><span class="data-metadata-label">Units: </span>MW</li>
    </ul>
    <ul class="data-metadata-fields col-md-6 col-xs-12">
      <li class="metadata-field"><span class="data-metadata-label">Longitude: </span>32.1</li>
      <li class="metadata-field"><span class="data-metadata-label">Latitude: </span>-111.10</li>
    </ul>
  </div>
</div>
<div class="row data-plots-wrapper">
  <!-- Placeholders for bokeh plots -->
  <div class="plot-1 data-plot col-md-6 col-sm-12"><img class="data-plot-content" src="/static/images/oasis_1.png"></div>
  <div class="plot-2 data-plot col-md-6 col-sm-12"><img class="data-plot-content"src="/static/images/oasis_3.png"></div>
</div>
{% endblock %}
