{% if report_template is defined %}
{% extends report_template %}
{% block report_title %}
<div class="report-header">
{% if report_name is defined %}
<h1 id="report-title">{{ report_name }}</h1>
{% else %}
<h1 id="report-title">{{ report['report_parameters']['name'] }}</h1>
{% endif %}
{% if is_allowed('update') %}<a class="btn btn-primary btn-sm" href="{{url_for('forms.recompute_report', uuid=report['report_id'])}}">Recompute report</a>{% endif %}
{% if is_allowed('read') %}<a class="btn btn-primary btn-sm" href="{{url_for('forms.clone_report', uuid=report['report_id'])}}">Clone report parameters</a>{% endif %}
</div>
{% endblock %}
{% block download %}
{% set report_url = dash_url + '/reports/'+ report['report_id'] %}
<p>
  This report can be downloaded as a
  <a href="{{ report_url + '/download/html' }}">standalone HTML file</a> or
  <a href="{{ report_url + '/download/pdf' }}">PDF file</a>.
  The download is a ZIP archive that includes checksums for the
  report file and a PGP signature that can be used to verify the
  authenticity of the report.  The Solar Forecast Arbiter PGP key ID
  is
  <a href="https://solarforecastarbiter.org/assets/solarforecastarbiter.gpg">0x22bd497c0930f8b0</a>.
</p>
{% endblock %}
{% endif %}
