{% extends "dash/data.html" %}
{% import "data/metadata/meta_macro.jinja" as meta_macro %}
{% block content %}
<div class="tools {{ table_type }}-tools mt-1">
  <input type="text" placeholder="Search" class="search">
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_deterministic_report')}}">Create new Report</a>
</div>

{% include "sections/notifications.html" %}
<table class="reports-table table results">
  <thead>
    <tr>
	  <th scope="col">Name</th>
      <th scope="col"></td>
      <th scope="col"></td>
      <th scope="col">Status</td>
	</tr>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td>
    </tr>
  {% for report in reports %}
    <tr class="reports-table-row">
        <td class="reports-table-name-column">
          <a href="{{ url_for('data_dashboard.report_view', uuid=report['report_id']) }}">{{ report['report_parameters']['name'] }}</a>
        </td>
        <td>
            <div class="report-details-expander btn-sm btn-primary">Metadata</div>
            {# start report details block #}
            <div class="report-metadata-popup" hidden>
            <ul class="data-metadata-fields">
                  {{ meta_macro.li('Name', report['report_parameters']['name']) }}
                  {{ meta_macro.li('Organization', report['provider']) }}
                  {{ meta_macro.li('Status', report['status']) }}
            </ul>
            <ul class="data-metadata-fields">
              {{ meta_macro.li('Start', report['report_parameters']['start'] | format_datetime)}}
              {{ meta_macro.li('End', report['report_parameters']['end'] | format_datetime)}}
              <li class="metadata-field"><span class="data-metadata-label">Metrics:</span>
                  <ul>
                    {% for metric in report['report_parameters']['metrics'] %}
                    <li>{{ all_metrics[metric] }}</li>
                    {% endfor %}
                  </ul>
              </li>
            </ul>
            <ul class="data-metadata-fields">
              <li class="metadata-field"><span class="data-metadata-label">Metric Categories:</span>
              <ul>
                {% for category in report['report_parameters']['categories'] %}
                <li>{{ metric_categories[category]  }}</li>
                {% endfor %}
              </ul>
              </li>
            </ul>
            <ul class="data-metadata-fields">
              <li class="metadata-field"><span class="data-metadata-label">Filters:</span>
                  <ul>
                    {% for report_filter in report['report_parameters']['filters'] %}
                    {% for filter_name, values in report_filter.items() %}
                    <li class="metadata-field"><span class="data-metadata-label">{{ filter_name }}</span>
                      <ul>
                        {% for value in values %}
                        <li>{{ value }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                    {% endfor %}
                  </ul>
              </li>
            </ul>
            <a role="button" class="report-details-closer">close</a>
            </div>
            {# end report metadata block #}
        <td><a role="button" class="btn btn-danger btn-sm" href="{{ url_for('data_dashboard.delete_report', uuid=report['report_id']) }}">Delete</a>
        <td class="reports-table-status-column">{{ report['status'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script src='/static/js/report-listing.js'></script>
{% endblock %}

