{% extends "dash/site.html" %}
{% set page_title = "TEP/Avalon 2" %}
{% block content %}
{{ metadata | safe }}
{% block toolbar %}
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_site_observation', site_id=site_id) }}">Create new Observation</a>
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_site_forecast', site_id=site_id) }}">Create new Forecast</a>
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_cdf_forecast', site_id=site_id) }}">Create new Probabilistic Forecast</a>

{% endblock %}
{{ listing | safe }}
{% endblock %}
