{% extends "dash/data.html" %}
{% block content %}
{% if metadata is defined %}
{% block toolbar %}
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_observation', uuid=site_id) }}">Create new Observation</a>
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_forecast', uuid=site_id) }}">Create new Forecast</a>
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_cdf_forecast_group', uuid=site_id) }}">Create new Probabilistic Forecast</a>
  {% if is_allowed('delete') %}
  <a role="button" class="btn btn-danger btn-sm" href="{{ url_for('data_dashboard.delete_site', uuid=site_id) }}">Delete this site</a>
  {% endif %}
{% endblock %}
{{ listing | safe }}
{% endif %}
{% endblock %}
