{% extends "forms/base/base_form.html" %}
{% import "forms/admin/permission_macros.jinja" as table_macros %}

{% set page_title = 'Create New Permission' %}
{% if data_type is not defined %}
  {% set data_type="observation" %}
{% endif %}
{% if table_data is not defined %}
  {% set table_data={} %}
{% endif %}
{% if data_type == 'site' %}
  {% set row_macro = table_macros.site_row %}
{% elif data_type == 'report' %}
  {% set row_macro = table_macros.report_row %}
{% else %}
{% if form_data is not defined %}
  {% set form_data = {} %}
{% endif %}
{% set row_macro = table_macros.data_row %}
{% endif %}
{% block fields %}
<p>Creating a new permission for data of type '{{ data_type | convert_data_type}}'.</p>
<div class="form-element full-width">
  <label>Description</label><br/>
  <input type="text" class="form-control" name="description">
</div>
<div class="form-element full-width">
  <label>Action</label><br/>
  <p>Select the action this permission will allow.</p>
  <input type="radio" name="permission-action" value="create" required>Create
  <input type="radio" name="permission-action" value="read">Read
  {% if data_type not in ['forecast', 'observation', 'site'] %}
  <input type="radio" name="permission-action" value="update">Update
  {% endif %}
  <input type="radio" name="permission-action" value="delete">Delete
  {% if data_type != "site" %}
  <input type="radio" name="permission-action" value="read_values">Read Values
  <input type="radio" name="permission-action" value="write_values">Write Values
  <input type="radio" name="permission-action" value="delete_values">Delete Values
  {% endif %}
</div>
<div id="create-permission-explanation" class="collapse">
{% set perm_requirements = {
    'site': '',
    'observation': '<i>Read</i> permissions on the associated Site',
    'forecast': '<i>Read</i> permissions on the associated Site',
    'aggregate': '<i>Read</i> and <i>Read Values</i> permissions on Observations that make up the Aggregate',
    'cdf_forecast_group': '<i>Read</i> permissions on the associated Site',
    'report': '<i>Read</i> and <i>Read Values</i> permissions on any Forecasts or Observations you would like to analyze in the Report',
} %}
<p>Create permissions don't require any further configuration
{% if perm_requirements.get(data_type, '') | length %} but creating new
{{ data_type | convert_data_type }}s requires {{ perm_requirements[data_type] | safe }}
{% endif %}.</p>
</div>
<fieldset id="non-create-permission-fields" class="collapse show">
<div class="form-element full-width">
  <label>Applies to all</label>
  <input type="checkbox" name="applies-to-all" data-toggle="collapse" data-target="#object-selector">
  <p>Check to allow the action on all {{ data_type }}s in your organization. This permission will also apply to all new {{ data_type }}s as they are added.</p>
</div>
<div class="form-element full-width collapse show" id="object-selector">
  <div class="permissions-object-table">
    <label>{{ data_type | convert_data_type }}s</label>
    <p>Select the {{ data_type | convert_data_type}}s to allow the action on.</p>
    <div class="tools permissions-objects-table mt-1">
      <input type="text" placeholder="Search" class="search">
      <button type='button' class="btn-sm btn-primary mt-1" id='check-button'>Check All</button>
      <button type='button' class="btn-sm btn-primary mt-1" id='uncheck-button'>Uncheck All</button>
    </div>
    <div class="scrollbox">
      <table class="table results" id='permission-table'>
        <thead>
          <th class="selection-column" scope="col"></th>
          <th scope="col">Name</th>
          {% if data_type not in  ['site', 'report'] %}
          <th scope="col">Variable</th>
          {% endif %}
          <th scope="col">UUID</th>
        </thead>
        <tbody>
          <tr class="warning no-result">
            <td>
              <i class="fa fa-warning"></i>
              No Result
            </td>
          </tr>
          {% for i in range(table_data | length) %}
          {{ row_macro(data_type, table_data[i], i, "objects-list" + i |string in form_data ) }}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</fieldset>
{% endblock %}
