{% extends "dash/data.html" %}
{% set page_title = 'Permissions' %}
{% block content %}
{# Commented out non-functioning links for esig demo
<div class="data-metadata border mt-2">
  <h3>Create a new permission</h3>
  Select a data type:
  <a class="btn-sm btn-primary" href="{{ url_for("admin.observation_permission") }}">Observation</a>
  <a class="btn-sm btn-primary" href='{{ url_for("admin.forecast_permission") }}'>Forecasts</a>
  <a class="btn-sm btn-primary" href='{{ url_for("admin.site_permission") }}'>Sites</a>
  <a class="btn-sm btn-primary" href='{{ url_for("admin.cdf_forecast_group_permission") }}'>Probabilistic Forecast Groups</a>
</div>
#}
<h3>Existing Permissions</h3>
<div class="tools {{ table_type }}-tools mt-1">
  {% block tools %}
    <input type="text" placeholder="Search" class="search">
  {% endblock %}
</div>
<table class="permissions-table table results">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
      <th scope="col">Object Type</th>
      <th scope="col">Applies to all</th>
    </tr>
  </thead>
  <tbody>
    {% if table_data is defined %}
      {% for perm in table_data %}
        <tr>
            <td><a href="{{ url_for('admin.permission_view', uuid=perm['permission_id'])}}">{{ perm["description"] }}</a></td>
            <td>{{ perm["action"] }}</td>
            <td>{{ perm["object_type"] }} </td>

            <td>{% if perm["applies_to_all"] %}&#10004;{% endif %} </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
