{% extends "dash/data.html" %}
{% set page_title = 'Permissions' %}
{% block content %}
{% include 'sections/notifications.html' %}
{% if permission is defined %}
{% include 'data/metadata/permission_metadata.html' %}
{% if not permission['applies_to_all'] %}
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('admin.permission_object_addition', uuid=permission['permission_id']) }}">Add Objects to Permission</a>
{% endif %}
<a role="button" class="btn btn-danger btn-sm" href="{{ url_for('admin.delete_permission', uuid=permission['permission_id']) }}">Delete</a>
<h3>{{ permission['object_type'] | title }}</h3>
<div class="tools {{ table_type }}-tools mt-1">
   {% block tools %}
   <input type="text" placeholder="Search" class="search">
   {% endblock %}
</div>
<table class="object-table table results">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date Added to Permission</th>
    </tr>
  </thead>
  <tbody>
    {% for uuid, obj in permission['objects'].items() %}
      <tr>
        {% if dashboard_type in ['role', 'permission', 'user']%}
        <td><a href="{{ url_for('admin.'+dashboard_type+'_view', uuid=uuid) }}">{% if dashboard_type == 'permission' %}{{ obj['description'] }}{% elif dashboard_type == 'user'%}{{ obj['user_id'] }}{% else %}{{ obj['name'] }}{% endif %} </a></td>
        {% else %}
          {% if (permission['object_type'] == 'reports' and obj['status'] != 'complete') %}
            <td>{{ obj['name'] }}</td>
          {% else %}
            <td><a href="{{ url_for('data_dashboard.'+dashboard_type+'_view', uuid=uuid) }}">{{ obj['name'] }}</a></td>
          {% endif %}
        {% endif %}
        <td>{{ obj['added_to_permission'] | format_datetime}} </td>
        {% if not permission['applies_to_all'] %}
        <td><a role="button" class="permission-object-delete-button" href="{{ url_for('admin.permission_object_removal', uuid=permission['permission_id'], object_id=uuid)}}">Remove</a></td>
        {% endif %}
      </tr>

    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
