{% macro data_row(data_type, row_values, index) %}
{% if data_type == 'observation' %}
  {% set uuid = row_values['observation_id'] %}
{% elif data_type == 'forecast' %}
  {% set uuid = row_values['forecast_id'] %}
{% elif data_type == 'aggregate' %}
  {% set uuid = row_values['aggregate_id'] %}
{% endif %}
<tr visible="true">
  <td><input type="checkbox" name="objects-list-{{ index }}" value="{{ uuid }}"></td>
  <td>{{ row_values['name'] }}</td>
  <td>{{ row_values['variable'] | convert_varname }}</td>
  <td>{{ uuid }}</td>
</tr> 
{% endmacro %}

{% macro site_row(data_type, row_values, index) %}
{% set uuid = row_values['site_id'] %}
<tr visible="true">
  <td><input type="checkbox" name="objects-list-{{ index }}" value="{{ uuid }}"></td>
  <td>{{ row_values['name'] }}</td>
  <td>{{ uuid }}</td>
</tr>
{% endmacro %}
{% macro report_row(data_type, row_values, index) %}
{% set uuid = row_values['report_id'] %}
<tr visible="true">
  <td><input type="checkbox" name="objects-list-{{ index }}" value="{{ uuid }}"></td>
  <td>{{ row_values['name'] }}</td>
  <td>{{ uuid }}</td>
</tr>
{% endmacro %}
