{% extends "dash/data.html" %}
{% set page_title = 'Roles' %}
{% import "forms/form_macros.jinja" as form %}
{% block content %}
{% if role is not none %}
{% include 'data/metadata/role_metadata.html' %}
<h3>Granting role "{{ role['name'] }}"</h3>
<p>Enter the email of the user to grant the role to.</p>
<form action="{{ url_for('admin.role_grant', uuid=role['role_id']) }}" method="post" enctype="application/json" id="role-grant-form">
  <div class="form-group">
  <div class="form-element">
    <label>User Email</label><br/>
    <input type="email" class="form-control" name="user_email" placeholder="Email">
  </div>
  {{ form.token() }}
  </div>
</form>
<button type="submit" form="role-grant-form" value="Submit" class="btn btn-danger btn-sml">Grant Role</button>
<a href="{{ redirect_link }}" class="btn btn-primary">Cancel</a>
{% endif %}
{% endblock %}
