{% extends "dash/data.html" %}
{% set page_title = 'Create New Role' %}
{% import "forms/form_macros.jinja" as form %}
{% import "forms/admin/role_macros.jinja" as table_macros %}
{% if form_data is not defined %}
{% set form_data = {} %}
{% endif %}
{% block content %}
{% include "sections/notifications.html" %}
<p>Create a new role with a name and description. You may add permissions to
the role and grant the role to users after creation.</p>
<form action="{{ url_for('admin.create_role') }}" method="post" enctype="application/json" id="role-form">
  <div class="form-group">
  <div class="form-element full-width">
    <label>Name</label><br/>
    <input type="text" class="form-control" name="name" value={{ form_data['name'] }}>
  </div>
  <div class="form-element full-width">
    <label>Description</label><br/>
    <input type="text" class="form-control" name="description" value={{ form_data['description']}}>
  </div>
  {{ form.token() }}
  </div>
</form>
<button type="submit" form="role-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
