{% extends "dash/data.html" %}
{% set page_title = 'Users' %}
{% block content %}
{% include 'sections/notifications.html' %}
{% if user is defined %}
{% include "data/metadata/user_metadata.html" %}
<a href="{{ url_for('admin.user_role_update', uuid=user['user_id']) }}" class="btn btn-primary">Add Roles</a>
<h3 class="my-3">Roles</h3>
<div class="tools {{ table_type }}-tools mt-1">
   {% block tools %}
   <input type="text" placeholder="Search" class="search">
   {% endblock %}
</div>
<table class="user-roles-table table results">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" id="provider-header">
          <button type="button" class="btn btn-th dropdown-toggle" data-toggle="collapse" data-target="#org-filters" >Organization</button>
      </th>
      <th scope="col">Date Added</th>
      <th scope="col" id="removal-header"></th>
    </tr>
  </thead>
  <tbody>
    {% for role_id, role in user['roles'].items() %}
      <tr>
          <td><a href="{{ url_for('admin.role_view', uuid=role_id) }}">{{ role['name'] }}</a></td>
          <td>{{ role['organization'] }}</td>
          <td>{{ role['added_to_user'] | format_datetime }}</td>
          <td><a href="{{ url_for('admin.user_role_removal', uuid=user['user_id'], role_id=role['role_id']) }}">Remove</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
