flask
marshmallow==3.0.0rc5
flask-marshmallow
flask-talisman
apispec>=1.0.0
apispec-webframeworks
webargs
gunicorn
gevent
requests
cryptography
python-jose
pandas
pyyaml
pymysql
sqlalchemy
redis
rq
fakeredis
sentry_sdk
blinker
prometheus_flask_exporter
git+git://github.com/solararbiter/solarforecastarbiter-core#egg=solarforecastarbiter [all]
tables==3.5.1
