<!DOCTYPE html>
<html>
  <head>
    <title>Solar Forecast Arbiter API Documentation</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> body { margin: 0; padding: 0; } </style>
  </head>
  <body>
    <redoc spec-url='{{ apispec_path }}' hide-loading></redoc>
    <script nonce="{{ csp_nonce() }}" src="{{ redoc_script }}"> </script>
  </body>
</html>
