{% macro li(label, attribute, unit='') %}
{% if attribute != '' %}
<li class="metadata-field"><span class="data-metadata-label">{{ label }}: </span>{{ attribute + ' ' + unit }}</li>
{% endif %}
{% endmacro %}
