{% extends "data/metadata/meta_container.html" %}
{% import "data/metadata/meta_macro.jinja" as macro %}
{% set data_type='Permission' %}
{% block metadata %}
<ul class="data-metadata-fields col-md-6 col-xs-12">
    <li><b>Description:</b> {{ permission['description'] }}</li>
    <li><b>Action:</b> {{ permission['action'] }}</li>
    <li><b>Object Type:</b> {{ permission['object_type'] }}</li>
    <li><b>Organization:</b> {{ permission['organization'] }} </li>
    <li><b>Applies to all:</b> {{ permission['applies_to_all'] }} </li>
</ul>
<ul class="data-metadata-fields col-md-6 col-xs-12">
    <li><b>Created:</b> {{ permission['created_at'] | format_datetime }}</li>
</ul>
{% endblock %}
