{% extends "data/metadata/meta_container.html" %}
{% import "data/metadata/meta_macro.jinja" as macro %}
{% block metadata %}
<ul class="data-metadata-fields col-md-6 col-sm-12">
      {{ macro.li('Name', metadata_object['report_parameters']['name']) }}
      {{ macro.li('Organization', metadata_object['provider']) }}
      {{ macro.li('Status', metadata_object['status']) }}
</ul>
<ul class="data-metadata-fields col-md-6 col-sm-12">
  {{ macro.li('Start', metadata_object['report_parameters']['start'] | format_datetime)}}
  {{ macro.li('End', metadata_object['report_parameters']['end'] | format_datetime)}}
  <li class="metadata-field"><span class="data-metadata-label">Metrics:</span>
      <ul>
        {% for metric in metadata_object['report_parameters']['metrics'] %}
        <li>{{ deterministic_metrics[metric] }}</li>
        {% endfor %}
      </ul>

  </li>
</ul>
<ul class="data-metadata-fields col-md-6 col-sm-12">
  <li class="metadata-field"><span class="data-metadata-label">Metric Categories:</span>
  <ul>
    {% for category in metadata_object['report_parameters']['categories'] %}
    <li>{{ metric_categories[category]  }}</li>
    {% endfor %}
  </ul>
  </li>
</ul>
<ul class="data-metadata-fields col-md-6 col-sm-12">
  <li class="metadata-field"><span class="data-metadata-label">Filters:</span>
      <ul>
        {% for report_filter in metadata_object['report_parameters']['filters'] %}
        {% for filter_name, values in report_filter.items() %}
        <li class="metadata-field"><span class="data-metadata-label">{{ filter_name }}</span>
          <ul>
            {% for value in values %}
            <li>{{ value }}</li>
            {% endfor %}
        {% endfor %}
        {% endfor %}
      </ul>
  </li>
</ul>
{% endblock %}
