{% extends "dash/data.html" %}
{% block content %}
<div class="tools {{ table_type }}-tools mt-1">
  <input type="text" placeholder="Search" class="search">
  <a role="button" class="btn btn-primary btn-sm" href="/aggregates/create">Create new Aggregate</a>
</div> 
{% include "sections/notifications.html" %}
<table class="aggregates-table table results">
  <thead>
    <tr>
	  <th scope="col">Name</th>
      <th scope="col">Variable</th>
      <th scope="col" id="provider-header">
        <button type="button" class="btn btn-th dropdown-toggle" data-toggle="collapse" data-target="#org-filters" >Organization</button></th>
	</tr>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td> 
    </tr>
  {% for agg in aggregates %}
    <tr class="aggregates-table-row">
        <td class="aggregates-table-name-column">
          <a href="{{ url_for('data_dashboard.aggregate_view', uuid=agg['aggregate_id']) }}">{{ agg['name'] }}</a>
        </td>
        <td class="aggregates-table variable-column">{{ agg['variable'] }}</td>
        <td class="aggregates-table provider-column">{{ agg['provider'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
