{#
    Provides extra sections for use when displaying data across the dashboard.
    Child templates will mostly make use of this template by extending it and
    adding their contents to the 'content' block.

    - Loads a metadata dict so it is accessible from js (if present) in the
      'extra_scripts' block. This block may be overriden by child templates.
    - Sets an h2 page title or breadcrumb
    - Includes the subnav section below the page title
    - Displays a metadata block if provided. This is usually a rendered
      template
    - Includes the notifications section
    - Print the 'content block' last
#}
{% extends "base.html" %}

{#
    Provide metadata as a global js variable if it's passed. For safety, don't
    include extra_parameters here.
    See sfa_dash.blueprints.base.BaseView.safe_metadata for removing
    extra_parameters
#}
{% block extra_scripts %}
{% if metadata is defined %}
  <script>var metadata = JSON.parse('{{ metadata | tojson }}');</script>
{% endif %}
{% endblock %}

{% block dash %}

{% if page_title is defined or breadcrumb is defined %}
<h2 class="page-title">
{{ page_title }}{{ breadcrumb|safe }}
</h2>
{% endif %}

{% include "sections/subnav.html" %}

{% if metadata_block is defined %}
{{ metadata_block | safe }}
{% endif %}

{% include "sections/notifications.html" %}

{% block content %}{% endblock %}
{% endblock %}
