{% extends "dash/data.html" %}
{% block content %}
<div class="tools {{ table_type }}-tools mt-1">
  <input type="text" placeholder="Search" class="search">
  <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.create_report')}}">Create new Report</a>
</div> 
{% include "sections/notifications.html" %}
<table class="reports-table table results">
  <thead>
    <tr>
	  <th scope="col">Name</th>
	  <th scope="col">Created</th>
      <th scope="col">Status</th>
      <th scope="col"></td>
	</tr>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td> 
    </tr>
  {% for report in reports %}
    <tr class="reports-table-row">
        <td class="reports-table-name-column">
          <a href="{{ url_for('data_dashboard.report_view', uuid=report['report_id']) }}">{{ report['report_parameters']['name'] }}</a>
        </td>
        <td class="reports-table-created-column">{{ report['created_at'] | format_datetime }}</td>
        <td class="reports-table-status-column">{{ report['status'] }}</td>
        <td><a role="button" class="btn btn-danger btn-sm" href="{{ url_for('data_dashboard.delete_report', uuid=report['report_id']) }}">Delete</a>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
