<ul class="report-menu">
    <li class="report-menu-item report-menu-label">Report type:
    <li class="determinsitic-report {% if report_type =='deterministic' %}active {% endif %}report-menu-item"><a href="/reports/deterministic/create">Deterministic</a></li
    ><li class="event-report {% if report_type =='event' %}active {% endif %}report-menu-item"><a href="/reports/event/create">Event</a></li>
     <li class="probabilistic-report {% if report_type == 'probabilistic' %}active {% endif %}report-menu-item disabled"><a href="/reports/probabilistic/create">Probabilistic</a></li>
</ul>
