{# Builds a horizontal tabbed menu from the subnav template argument. The dict
   should contain relative path keys and display text values, such that an <a>
   tag such as <a href=key>value</a> can be built.
 #}
{% if subnav is defined %}

<nav class="sub-nav">
  <ul class="sub-nav-list">
    {% for path, link_text in subnav.items() %}
      {% if path.split('?')[0]|string() == request.path|string() %}
        <li class="sub-nav-item"><a class="sub-nav-link active" href="{{ path }}">{{ link_text }}</a></li>
      {% else %}
        <li class="sub-nav-item"><a class="sub-nav-link" href="{{ path }}">{{ link_text }}</a></li>
      {% endif %}
    {% endfor %}
   </ul>
</nav>
{% endif %}
