{% extends "dash/data.html" %}
{% block content %}
<h2 class="page-title">Documentation</h2>
<p>Prior to an alpha release, please see the <a href="https://solarforecastarbiter.org/dashboarddoc/">Dashboard Interaction document</a>
on the project website should serve as documentation of the intended functionality
and use of the Solar Forecast Arbiter Dashbloard.</p>
<p>The document can be found at: <a href="https://solarforecastarbiter.org/dashboarddoc/">https://solarforecastarbiter.org/dashboarddoc/</a>
{% endblock %}
