{% extends "base.html" %}
{% if current_user is none %}
{% set sidebar = False %}
{% endif %}
{% block dash %}
<h2 class="page-title">Solar Forecast Arbiter Dashboard</h2>
{% include "sections/notifications.html" %}
{% if current_user is none %}
<p>Welcome to the Solar Forecast Arbiter Dashboard. If you have an account, please
<a href="{{ url_for('auth0.login') }}">log in</a> to access the dashboard.</p>
<p>New users can create an account using the '<i>Sign up</i>' link at the bottom
of the <a href="{{url_for('auth0.login') }}">log in form.</a> See
<a href="https://solarforecastarbiter.org/documentation/dashboard/#getting-started">
Getting Started</a> for more information.</p>
{% else %}
<p>Use the links on the left to access your data.</p>

<p>The <b>Sites</b> link will list the sites available to you.
From this menu, you explore Sites and their associated data. Selecting
a Site will display its metadata and present options to list or create
Observations, Forecasts and Probabilistic Forecasts associated with the
Site. 
<p>The <b>Observations</b>, <b>Forecasts</b> and <b>Probabilistic
Forecasts</b> links will list all of the items you have access to
regardless of their Site association.</p>

<p>See <a href="https://solarforecastarbiter.org/documentation/dashboard/">documentation</a> for more details</p>
 
{% endif %}
{% include "dash/subnav.html" %}
{% endblock %}
