{# The fixed header navigation bar that contains the site name, links and
   account menu.
#}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
	<div class="logo-wrap">
        <a class="logo-link" href="/">
	    <h1>Solar Forecast Arbiter</h1>
      </a>
	</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://solarforecastarbiter.org/changelog/">Changelog</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="https://solarforecastarbiter.org/documentation/dashboard/">Documentation</a>
        </li>
	  </ul>
	  <ul class="navbar-nav navbar-right">
		<li class="nav-item account-link navbar-right"> 
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if current_user is not none %}
              <div class= "dropdown-item"><b>Logged in as:</b><br/> {{ current_user['name'] }}</div>
              <a class="dropdown-item" href="{{ url_for('admin.admin') }}">User Administration</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
              {% else %}
              <a class="dropdown-item" href="{{ url_for('auth0.login') }}">Log in</a>
              {% endif %}

            </div>
          </div>
		</li>
      </ul>
    </div>
  </div>
</nav>
