<div class="col-sm-3 col-xs-12 sidebar-wrapper mt-3 border-right">
  <ul class="sidebaru-menu menu-list">
    <li class="py-1"><a href="{{ url_for('data_dashboard.sites_view') }}">Sites</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.observations') }}">Observations</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.forecasts') }}">Forecasts</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.cdf_forecasts') }}">Probabilistic Forecasts</a></li>
  </ul>
</div>
