{# Sidebar menu that is included by base.html when the 'sidebar' template
   variable is set to true
 #}
<div class="col-md-3 col-sm-12 sidebar-wrapper mt-3">
  <ul class="sidebar-menu menu-list">
    <li class="py-1"><a href="{{ url_for('data_dashboard.sites') }}">Sites</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.aggregates')}}">Aggregates</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.reports') }}">Reports</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.observations') }}">Forecasts and Observations</a></li>
  </ul>
</div>
