<div class="col-sm-3 col-xs-12 sidebar-wrapper mt-3 border-right">
  <ul class="sidebar-menu menu-list">
    <li class="py-1"><a href="{{ url_for('data_dashboard.sites') }}">Sites</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.observations') }}">Observations</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.forecasts') }}">Forecasts</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.cdf_forecast_groups') }}">Probabilistic Forecasts</a></li>
    <li class="py-1"><a href="{{ url_for('data_dashboard.reports') }}">Reports</a></li>
  </ul>
</div>
