{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% block extra_scripts %}
<script src="/static/js/form-validation.js"></script>
{% endblock %}
{% block content %}
{% if form_title %}<h3>{{ form_title }}</h3> {% endif %}
{% if metadata is defined %}
<form action="{{ url_for('forms.upload_' + data_type + '_data', uuid=uuid) }}" method="post"  id="{{ data_type }}-upload-form" enctype='multipart/form-data'>
  <div class="form-group">
    {% block fields %}
    {% endblock %}
    <div class="form-element full-width">

        <p>Files should contain a maximum of 200,000 data points and have a
           maximum size of 16MB. Uploaded data will truncated to 8 points of
           decimal precision.</p>
        <input type="file" name="{{ data_type }}-data" accept=".csv, .json">
    </div>
    {{ form.token() }}
  </div>
</form>
<div class="form-element">
  <button type="submit" form="{{ data_type }}-upload-form" value="Submit" class="btn btn-primary">Upload</button>
</div>
{% endif %}
{% endblock %}
