/* Bootstrap overrides */
@media (min-width: 768px){
  .fixed-top{
    position: fixed;
  }
}
@media (max-width: 767px){
  .fixed-top{
    position: relative;
  }
}
.fixed-top{
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
table.table th{
  border-top: unset;
}
table.table{
    table-layout: fixed;
}
@media (min-width: 992px){
    .name-column {
        width: 40%;
    }
}

/* General css */

/* Always display scrollbar to stop jumping*/
html{
  overflow-y: scroll;
}
body{
  color: #333;
}
main { 
  margin-bottom: 2rem;
}
@media (min-width: 768px){
  main{
    margin-top: 11rem;
  }
}
@media (max-width: 767px){
  main{
    margin-top: 0;
  }
}
.menu-list{
  list-style: none;
}
@media (min-width: 768px){
  div.sidebar-wrapper {
    border-right: 1px solid #dee2e6!important;
  }
}
ul.sidebar-menu{
  padding-left: 0; 
}
.logo-wrap{
  width: 200px;
}
.logo-wrap h1{
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: .85;
}
.logo-wrap a{
	color: #555;
}
.logo-wrap a:hover{
	text-decoration: unset;
	color: #111;
}
@media (min-width: 769px) {
	div.teamlogo-wrapper {
        max-width: 30%;
    }
}
@media (max-width: 768px) {
	div.teamlogo-wrapper {
		max-width: 45%;
    }
}
img.teamlogo {
    max-height: 150px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
div.teamlogo-wrapper{
	max-height: 150px;
	display: inline-block;
	margin: 1.5%;
}
.page-title{
 	margin-top: .5em;
}
.section-title{
	font-size: 1.5rem;
	font-weight: 700;
}
/* Nav */
header nav{
	box-shadow: 0 1px 3px #DDD;
}
.account-link{
 	float: right;
}

/* Secondary Nav */
.sub-nav{
}
.sub-nav-list{
  list-style: none;
  padding-inline-start: unset;
  margin-bottom: 0;
}
.sub-nav-item{
  display: inline-block;
}
.sub-nav-link{
  padding: .5em 1em .5em 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.sub-nav-link:hover, .sub-nav-link.active{
	text-decoration: none;
	border-bottom: 2px solid #0056b3;
}
/* Footer */
.footer{
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0 -1px 3px #DDD;
  }
.footer-link{
  display: inline-block;
  vertical-align: middle;
  float: right;
}

/* Data/Data */
.data-plot-content{
	width: inherit;
}
.data-metadata{
	padding: 1em;
}
ul.data-metadata-fields{
	list-style: none;
}
.data-metadata-label{
	font-weight: 700;
}

/* Table Search CSS */
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

/* Forms */
li.object-pair {
  list-style: none;
  padding-right: 1em;
  position: relative;
}
ul.object-pair-list{
  padding-left: 0;
}
a.object-pair-delete-button{
    top: 50%;
    color: #A00 !important;
}
.form-group{
  width: 100%;
}
.form-element label{
  font-weight: 600;
}
@media (min-width: 769px) {
  .form-element{
    width: 49%;
  }
}
@media (max-width: 768px){
  .form-element{
    width: 100%;
  }
}
.form-element{
  display: inline-block;
  box-sizing: border-box;
  padding: .5em 1em;
  position: relative;
}
.form-element.full-width{
  width: 100%;
}
.time-field{
  display: inline-block;
}
.form-element .well-known-text-field{
  width: 100%;
}
fieldset{
  float: left;
  background-color: #f8f9fa;
  box-shadow: 0 1px 3px #DDD;
  margin: 1em 0;
  padding: 1em 0; 
}
pre.example-text{
  background-color: #f8f9fa;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 1em;
}
span.help-text{
  width: 100%;
  padding: .5em;
  border: 2px solid #6c757d;
  border-radius: 8px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px;
  z-index: 1;
  left: 0;
  top: 100%;
}
/* Tooltip arrow */
span.help-text::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #6c757d transparent;
}
.notification-list{
  list-style: none;
  margin-top: .5rem;
  padding-left: 0;
}
li.alert{
  margin-bottom: .5rem;
}
li.alert p{
  margin-bottom: 0;
}
pre.example-text{
  overflow: scroll;
  max-width: 761px;
}
a.help-button{
  color: white;
  font-weight: bolder;
  background-color: #6c757d;
  border-radius: 12px;
  width: 24px;
  display: inline-block;
  text-align: center;
}
.form-control{
  display: inline-block;
}
.form-control.half-width{
  margin-left: 1em;
  min-width: 250px;
  width: 46%;
}
.input-wrapper{
  width: calc(100% - 29px);
  display: inline-flex;
  font-size: 1.2rem;
}
.bigtext{
  font-size: 2rem;
}
.value-range-number{
  width: 5rem;
}
.value-range-observation{
  width: 40%;
}

/* Organization filters */
#org-filters {
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: .5rem;
}
#org-filter-collapse{
    font-family: monospace;
    color: #000;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 1rem;
    padding: .1rem 0.3rem;
}
#org-filter-collapse:hover{
    text-decoration: none;
    background-color: #ddd;
    transition: background-color .2s;
}
#org-filter-collapse:after{
    content: "\00d7";
    font-size: 1rem;
}
.org-filter-options{
    list-style: none;
    padding-left: 0;
}
#provider-header{
    padding: 0;
}
#removal-header{
    width: 6em;
}
.btn-th{
    color: #333;
    background-color: #fff;
    font-weight: bold;
    padding: .75rem;
}
.scrollbox{
    height: 400px;
    overflow: scroll;
}

/* Temporary site banner css */
#site-banner{
    width: 100%;
    z-index: 1031;
    color: #fff;
    padding: .5rem;
    text-align: center;
}
#site-banner a{
    color: #000;
}
#site-banner p{
    margin-bottom: 0;
}

[role="button"]{
    cursor: pointer;
}
.empty-reports-list{
    list-style: none;
}
a:not([href]).object-pair-button{
    color: #007bff;
}
a:not([href]).object-pair-button:hover{
    color: #0056b3;
}
.object-pair-button::after{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #007bff;
    content: "";
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
}
.object-pair-button.collapsed::after{
    transform: rotate(180deg);
}
.report-field-filters{
    display: inline-block;
}
th.selection-column{
    width: 2em;
}
.nav-tabs .nav-item.active{
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-bottom: 1px solid #FFF;
}
.nav-tabs .nav-item{
    background-color: #e9ecef;
}
.nav-tabs .nav-link:hover{
    background-color: #c9cccf;
    border-color: #a9acaf;
}
