<div class="tools {{ table_type }}-tools mt-1">
  <input type="text" placeholder="Search" class="search">
  {% if creation_link is defined and creation_link is not none %}
    <a role="button" class="btn btn-primary btn-sm" href="{{ creation_link }}">Create new Site</a>
  {% endif %}
</div> 
<table class="{{ table_type }}-table table results">
  <thead class="{{ table_type }}-thead">
    <tr>
      <th class="name-column" scope="col">Name</th>
      <th scope="col" id="provider-header">
        <button type="button" class="btn btn-th dropdown-toggle" data-toggle="collapse" data-target="#org-filters">Provider</button>
      </th>
      <th scope="col">Latitude</th>
	  <th scope="col">Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
	{% for row in table_rows %}
	  {{ table_macro.tr(row) }}
	{% endfor %}
  </tbody>
</table>
