{% macro tr(row) %}
<tr>
  <td class="name-column"><a href="{{ row['link'] }}">{{ row['name'] }}</a></td>
  <td class="provider-column">{{ row['provider'] }}</td>
  <td class="latitude-column">{{ row['latitude'] }}</td>
  <td class="longitude-column">{{ row['longitude'] }}</td>
</tr>
{% endmacro %}
