{% macro tr(row) %}
<tr>
  <td><a href="{{ row['link'] }}">{{ row['name'] }}</a></td>
  <td>{{ row['provider'] }}</td>
  <td>{{ row['latitude'] }}</td>
  <td>{{ row['longitude'] }}</td>
</tr>
{% endmacro %}
