{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% block content %}
{{ metadata | safe }}
{% include "sections/notifications.html" %}
{% if aggregate is defined and observation is defined %}
<h3>Remove an Observation from an Aggregate</h3>
<p>Set the date that the observation, <b>{{ observation['name'] }}</b>, will no longer contribute to the aggregate.</p>
<form action="{{ url_for('forms.remove_aggregate_observations', uuid=aggregate['aggregate_id'], observation_id=observation['observation_id']) }}" method="post" enctype="application/json" id="remove-aggregate-observations-form">
  <div class="form-group">
    <div class="form-element full-width">
    <label for="end">Effective Until</label><br/>
    <input type="date" id="effective-until-date" name="effective-until-date" {% if form_data is defined %}value="{{form_data['effective-until-date']}}"{% endif %}required>
    <input type="time" id="effective-until-time" name="effective-until-time" {% if form_data is defined %}value="{{form_data['effective-until-time']}}"{% else %} value="00:00"{% endif %} required>
    {{ form.help_button('effective-until') }}
    <span class="effective-until-help-text form-text text-muted help-text collapse" aria-hidden>
      The end of the period for which the observation should be considered part of the aggregate.
    </span>
  </div>
  {{ form.token() }}
  </div>
</form>
<button type="submit" form="remove-aggregate-observations-form" value="Submit" class="btn btn-primary">Submit</button>
{% endif %}
{% endblock %}
