{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% if form_data is not defined %} {% set form_data = {} %}{% endif %}
{% block content %}
<script src="{{ report_script }}"></script>
{{ metadata | safe }}
{% include "sections/notifications.html" %}
<h3>Create New Report</h3>
{% include "forms/report_menu.html" %}
<form action="{{ url_for('forms.create_'+report_type+'_report') }}" method="post" id="report-form" onSubmit="return validateReport();">
  <div class="form-group">
     <div class="form-element full-width">
       <div class="input-wrapper">
         <input type="text" class="form-control  name-field" required="" name="name" {{ form.name_validation() }} value="{% if form_data %}{{form_data['report_parameters']['name']}}{% else %}{%endif%}"/>
       </div>
     </div>
	 <div class="form-element">
       <label for="start">Start (UTC):</label><br/>
       <div class="input-wrapper">
         <input type="text" name="period-start" class="form-control" placeholder="YYYY-MM-DDTHH:MMZ" required {% if form_data %}value="{{form_data['report_parameters']['start']}}"{% endif %}></input>
       </div>
       {{ form.help_button('period-start') }}
       <span class="period-start-help-text form-text text-muted help-text collapse" aria-hidden>
           The start of the analysis period as an ISO 8601 datetime.
       </span>
     </div>
     <div class="form-element">
       <label for="end">End (UTC)</label><br/>
       <div class="input-wrapper">
         <input type="text" name="period-end" class="form-control" placeholder="YYYY-MM-DDTHH:MMZ" required {% if form_data %}value="{{form_data['report_parameters']['end']}}"{% endif %}></input>
       </div>
       {{ form.help_button('period-end') }}
       <span class="period-end-help-text form-text text-muted help-text collapse" aria-hidden>
           The end of the analysis period as an ISO 8601 datetime.
       </span>
     </div>
     {# The following empty list is a target for the javascript found in report-handling.js
        list items are added dynamically on page load #}

        <h5>Observation,{% if forecast_type %} {{ forecast_type }} {% endif %} Forecast pairs</h5>
	 <div class="form-element full-width border" style="border-radius:10px;margin:.5em 1em;">
       <div class="object-pair-list">
         <div class="empty-reports-list alert alert-warning">No Pairs Selected</div>
       </div>
       <div class="object-pair-control">
       </div>
	 </div>

     {% block metrics_field %}
     <div class="form-element">
     <label>Metrics</label><br>
       {% if excluded_metrics is not defined %}
         {% set excluded_metrics = [] %}
       {%endif %}
       {% if default_metrics is not defined %}
         {% set default_metrics = [] %}
       {%endif %}
       {% for metric, label in metric_options.items() %}
         {% if metric not in excluded_metrics %}
           <input type="checkbox" name="metrics" value="{{ metric }}" {% if form_data %}{% if metric in form_data['report_parameters']['metrics'] %}checked{% endif %}{% elif metric in default_metrics  %}checked{% endif %}>
           <a href="https://solarforecastarbiter.org/metrics/#{{ metric |replace('^', '') }}" target="_blank"> {{ label }}</a><br/>
         {% endif %}
       {% endfor %}
     </div>
     {% endblock %}
     {% block category_field %}
     <div class="form-element">
     <label>Categories</label></br>
     {% for category, label in metric_categories.items() %}
     <input type="checkbox" name="categories" value="{{ category }}" {% if form_data %}{% if category in form_data['report_parameters']['categories'] %}checked{% else %}{% endif %}{% else %}{% if category in default_categories %}checked{% endif %}{% endif %}> {{ label }}<br/>
     {% endfor %}
     </div>
     {% endblock %}
     {% block quality_flag_field %}
     <div class="form-element">
       <label>Quality Flag Filters</label><br>
       <p>Observation data flagged with any of the checked quality flags is excluded from analysis. The corresponding forecast data is also excluded.</p>
       {% set checked_flags = parse_quality_flags(form_data) %}
       {% for flag, label in quality_flags.items() %}
       <input type="checkbox" name="quality_flags" value="{{ flag }}" {% if form_data %}{% if flag in checked_flags %}checked{% endif %}{%endif %}> {{ label }}<br/>
       {% endfor %}
     </div>
     {% endblock %}
    {{ form.token() }}
  </div>
</form>
<ul id="form-errors">
</ul>
<button type="submit" form="report-form" value="Submit" class="btn btn-primary" >Submit</button>
{% endblock %}
