{% extends "dash/data.html" %}
{# {% set sidebar = True %} #}
{% set page_title = 'Create New Site' %}
{% import "forms/form_macros.jinja" as macro %}
{% block content %}
<form action="/create/site" method="post" id="some-form">
  <div class="form-group">
    {% for field, properties in form_fields.items() %}
    {{ macro.input(properties['label'], properties['type'], properties['name'], properties['description'], properties['required']) }}
    {% endfor %}
  </div>
</form>
<button type="submit" form="some-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
