{% extends "dash/data.html" %}
{% import "forms/form_macros.jinja" as form %}
{% block content %}
{% if metadata is defined %}
{% set page_title = 'Delete ' + data_type %}
{{ metadata | safe }}
{% endif %}
{% include 'sections/notifications.html' %}
{% if data_type and uuid %}
{# setting data_type and uuid prints deletion links #}
<form action="{{ url_for('data_dashboard.delete_'+data_type, uuid=uuid) }}" method="post" id="delete-form", enctype='application/json'>
  <p>Are you sure you want to delete this resource? This action is irreversible.</p>
  <button type="submit" form="delete-form" value="Submit" class="btn btn-danger btn-sml">Yes</button>
  <a href="{{ url_for('data_dashboard.' + data_type + '_view', uuid=uuid) }}" class="btn btn-primary">No</a>
  {{ form.token() }}
</form>
{% endif %}
{% endblock %}
