{% import "forms/form_macros.jinja" as form %}

{% set report_type = 'event' %}
{% set post_path = '/reports/event/create' %}
{% set report_script = '/static/js/event-report-form-handling.js' %}
{% set metric_options = event_metrics %}
{% set default_metrics = event_metrics.keys() %}

{% extends "forms/base/base_report_form.html" %}

{% block quality_flag_field %}
<div class="form-element full-width">
      <label>Quality Flag Filters</label><br>
        <p>Observation data flagged with any of the checked quality flags is excluded from analysis. The corresponding forecast data is also excluded.</p>
          <input type="checkbox" name="quality_flags" value="USER_FLAGGED" {% if form_data %}{% if 'USER_FLAGGED' in form_data['report_parameters']['filters']['quality_flags'] %}checked{% endif %}{%endif %}> USER FLAGGED<br/>
</div>
{% endblock %}
