{% extends "forms/base/download_form.html" %}
{% set page_title = 'Download Forecast data' %}
{% set data_type = 'forecast' %}
{% block example %}
<div class="form-element full-width">
  <div class="download-example csv show">
  <p>CSV downloads will have the following format.</p>
  <pre class="example-text">
# forecast_id: f79e4f84-e2c3-11e8-9f32-f2801f1b9fd1
# metadata: https://api.solarforecastarbiter.org/forecasts/f79e4f84-e2c3-11e8-9f32-f2801f1b9fd1/metadata
timestamp,value
2018-11-22T18:01:00Z,10.23
2018-11-22T18:02:00Z,10.67
2018-11-22T18:03:00Z,10.67
  </pre>

  </div>
</div>
<div class="form-element full-width">
  <div class="download-example json collapse">
    <p>JSON downloads will have the following format.</p>
	<pre class="example-text">{
    “forecast_id”: “f79e4f84-e2c3-11e8-9f32-f2801f1b9fd1',
    "_links": {
        "metadata": "https://api.solarforecastarbiter.org/forecasts/f79e4f84-e2c3-11e8-9f32-f2801f1b9fd1/metadata",
    },
    “values”: [
        { 
           “timestamp”: “2018-11-22T18:01:001Z”,
            “value”: 10.23,
         }, 
        { 
           “timestamp”: “2018-11-22T18:02:00Z”,
            “value”: 10.67,
         },
        {
           “timestamp”: “2018-11-22T18:03:00Z”,
            “value”: 10.67,
         }
    ] 
}</pre>
  </div>
</div>
{% endblock %}
