{% extends "dash/data.html" %}
{% set page_title = 'Upload Forecast data' %}
{% block content %}
{% include "sections/notifications.html" %}
{{ metadata | safe }}
<h3>Upload data for Forecast 'AC Power'</h3>
<form action="{{ url_for('forms.upload_forecast_data', uuid=uuid) }}" method="post" id="forecast-upload-form" enctype="multipart/form-data">
  <div class="form-group">
	<div class="form-element">
	  <label>My data is formatted in:</label><br>
	  <input type="radio" data-toggle="collapse" data-target=".upload-example" name="file-format" value="csv" checked/>CSV
      <input type="radio" data-toggle="collapse" data-target=".upload-example" name="file-format" value="json"/>JSON
	</div>
	<div class="form-element full-width">
      <div class="upload-example csv show">
		<p>Forecast data in CSV format should follow the formatting of the example below.</p>
	    <pre class="example-text">
# optional header, ignored by Solar Forecast Arbiter 
timestamp,value
2018-11-22T12:00:00Z,10.23
2018-11-22T12:05:00Z,10.67</pre>
	  </div>
	  <div class="upload-example json collapse">
        <p>Forecast data in JSON format should follow the formatting of the example below.</p>
        <pre class="example-text">{ 
    “id”: “testid”, # optional, for uploader’s record 
    “values”: [
        { 
           “timestamp”: “2018-11-22T12:00:00Z”,
            “value”: 10.23, 
         }, 
        { 
           “timestamp”: “2018-11-22T12:05:00Z”,
            “value”: 10.67, 
         }            
    ] 
}</pre>
      </div>
    </div>
    <div class="form-element full-width">
      <input type="file" name="forecast-data" accept=".csv, .json">
    </div>
  </div>
</form>
<div class="form-element">
  <button type="submit" form="forecast-upload-form" value="Submit" class="btn btn-primary">Submit</button>
</div>
{% endblock %}
