{% extends "forms/base/creation_form.html" %}
{% import "forms/form_macros.jinja" as form %}
{% set page_title = 'Create New Forecast' %}
{% set data_type, form_enc = 'forecast', 'application/json' %}
{% if form_data is not defined %}
{% set form_data = {} %}
{% endif %}
{% block fields %}
<div class="form-element">
  {{ form.input('Name', 'text', 'name', 'Name for the Forecast',
                required=True, form_data=form_data) }}
</div>
{# If a site is defined, allow the user to select a variable, otherwise fetch
   the variable from the aggregate #}
{% if site_metadata is defined %}
<div class="form-element">
  {{ form.select('Variable', 'variable',
                 variable_options,
                 default_variable,
                 form_data=form_data) }}
</div>
{% elif aggregate_metadata is defined %}
<input type="hidden" name="variable" value="{{ aggregate_metadata['variable'] }}">
{% endif %}
<div class="form-element">
  {{ form.time_of_day('Issue time of day', 'issue_time_of_day',
                      'The time of day that a forecast run is issued specified in UTC and in HH:MM format, e.g. 00:30. For forecast runs issued multiple times within one day (e.g. hourly), this specifies the first issue time of day. Additional issue times are uniquely determined by the first issue time and the run length & issue frequency attribute.',
                      form_data=form_data) }}
</div>
<div class="form-element">
    {{ form.timedelta('Lead time to start', 'lead_time_to_start',
                      'The difference between the issue time and the start of the first forecast interval. Values must be integers.',
                      form_data=form_data)}}
</div>
<div class="form-element">
  {{ form.timedelta('Run length/Issue frequency', 'run_length',
                    'The total length of a single issued forecast run. To enforce a continuous, non-overlapping sequence, this is equal to the forecast run issue frequency. Values must be integers.',
                    form_data=form_data) }}
</div>
<div class="form-element">
  {{ form.timedelta('Interval length', 'interval_length',
                    'The length of time that each data point represents. Values must be integers.',
                    form_data=form_data) }}
</div>
<div class="form-element">
  {{ form.select('Interval label', 'interval_label',
                 {'beginning': 'Beginning',
                  'ending': 'Ending',
                  'instant': 'Instant'},
                  'Indicates if a time labels the start or the end of an interval.',
                  form_data=form_data) }}
</div>
<div class="form-element">
  {{ form.select('Interval value type', 'interval_value_type',
                  {"interval_mean": "Mean",
				   "interval_min": "Min",
                   "interval_max": "Max",
                   "interval_median": "Median",
                   "percentile": "Percentile",
                   "instantaneous": "Instantaneous"},
                   form_data=form_data) }}
</div>
{{ form.extra_parameters() }}
{% endblock %}
