{% extends "forms/base/download_form.html" %}
{% set page_title = 'Download Observation data' %}
{% set data_type = 'observation' %}
{% block example %}
<div class="form-element full-width">
  <div class="download-example csv show">
  <p>CSV downloads will have the following format.</p>
  <pre class="example-text">
# observation_id: 123e4567-e89b-12d3-a456-426655440000
# metadata: https://api.solarforecastarbiter.org/observations/123e4567-e89b-12d3-a456-426655440000/metadata
timestamp,value,quality_flag
2018-11-22T18:01:00Z,10.23,0
2018-11-22T18:02:00Z,10.67,0
2018-11-22T18:03:00Z,10.67,0
  </pre>
</div>
<div class="form-element full-width">
  <div class="download-example json collapse">
    <p>JSON downloads will have the following format.</p>
    <pre class="example-text">{
    "id": "123e4567-e89b-12d3-a456-426655440000",
    "_links": {
        "metadata": "https://api.solarforecastarbiter.org/observations/123e4567-e89b-12d3-a456-426655440000/metadata",
    },
    “values”: [
        {
           “timestamp”: “2018-11-22T18:01:00Z”,
            “value”: 10.23,
            "quality_flag": 0,
         }, 
        {
           “timestamp”: “2018-11-22T18:02:00Z”,
            “value”: 10.67,
            "quality_flag": 0,
         },
        {
           “timestamp”: “2018-11-22T18:03:00Z”,
            “value”: 10.67,
            "quality_flag": 0,
         }
    ]
}</pre>
  </div>
</div>
{% endblock %}
