<ul class="report-menu">
    <li class="report-menu-item report-menu-label">Report type:
    <li class="determinsitic-report {% if current_path =='/reports/deterministic/create' %}active {% endif %}report-menu-item"><a href="/reports/deterministic/create">Deterministic</a></li
    ><li class="event-report {% if current_path =='/reports/event/create' %}active {% endif %}report-menu-item"><a href="/reports/event/create">Event</a></li>
    {# <li class="probabilistic-report {% if current_path =='/reports/probabilistic/create' %}active {% endif %}report-menu-item disabled"><a href="/reports/probabilistic/create">Probabilistic</a></li>#}
</ul>
