{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% block content %}
{{ metadata | safe }}
{% include "sections/notifications.html" %}
{% if form_title %}<h3>{{ form_title }}</h3> {% endif %}
<form action="{{ url_for('forms.create_report') }}" method="post" id="report-form">
  <div class="form-group">
      {% if form_data is not defined %} {% set form_data = {} %}{% endif %}
     <div class="form-element full-width">
       {{ form.input('Name', 'text', 'name', 'Name of the Report.', form_data=form_data) }}
     </div>
	 <div class="form-element">
       <label for="start">Start (UTC):</label><br/>
       <div class="input-wrapper">
         <input type="text" name="period-start" class="form-control" placeholder="YYYY-MM-DDTHH:MMZ" required {% if form_data is defined %}value="{{form_data['period-start']}}"{% endif %}></input>
       </div>
       {{ form.help_button('period-start') }}
       <span class="period-start-help-text form-text text-muted help-text collapse" aria-hidden>
           The start of the analysis period as an ISO 8601 datetime.
       </span>
     </div>
     <div class="form-element">
       <label for="end">End (UTC)</label><br/>
       <div class="input-wrapper">
         <input type="text" name="period-end" class="form-control" placeholder="YYYY-MM-DDTHH:MMZ" required {% if form_data is defined %}value="{{form_data['period-end']}}"{% endif %}></input>
       </div>
       {{ form.help_button('period-end') }}
       <span class="period-end-help-text form-text text-muted help-text collapse" aria-hidden>
           The end of the analysis period as an ISO 8601 datetime.
       </span>
     </div>
     {# The following empty list is a target for the javascript found in report-handling.js
        list items are added dynamically on page load #}
	 <div class="form-element full-width border" style="border-radius:10px;margin:.5em 1em;">
       <ul class="object-pair-list">
       </ul>
       <a href="#" class="btn btn-primary" id="add-object-pair" style="padding-left: 1em">Add a Forecast, Observation pair</a>
	 </div>
    {#
     <div class="form-element">
       <label>Filters</label><br>
       <input type="checkbox" data-toggle="collapse" data-target=".quality-flag-options" name="quality-flag" value="Quality Flag"> Quality Flag<br>
	     <div class="quality-flag-options collapse ml-3">
           <p>Checked items are included in the analysis. Unchecked items are excluded from the analysis.</p>
           <input type="checkbox"checked>NIGHTTIME<br/>
           <input type="checkbox"checked>CLOUDY<br/>
           <input type="checkbox"checked>SHADED<br/>
           <input type="checkbox">UNEVEN FREQUENCY<br/>
           <input type="checkbox">LIMITS EXCEEDED<br/>
           <input type="checkbox">CLEARSKY EXCEEDED<br/>
           <input type="checkbox">STALE VALUES<br/>
           <input type="checkbox">INTERPOLATED VALUES<br/>
           <input type="checkbox">CLIPPED VALUES<br/>
           <input type="checkbox">INCONSISTENT IRRADIANCE COMPONENTS<br/>
         </div>
       <input type="checkbox" name="time-of-day" data-toggle="collapse" data-target=".time-of-day-options" value="Time of Day"> Time Of Day<br>
         <div class="time-of-day-options ml-3 collapse">
           start: <input type="time"> end: <input type="time">
           <label>Subdivision</label><br>
           <input type="checkbox" name="total" value="Total" disabled checked> Total<br>
           <input type="checkbox" name="monthly" value="Monthly"> Monthly<br>
           <input type="checkbox" name="daily" value="Daily"> Daily<br>
           <input type="checkbox" name="hourly" value="Hourly"> Hourly<br>
         </div>
       <input type="checkbox" name="value-range" value="Value Range" data-toggle="collapse" data-target=".value-range-options"> Value Range<br>
         <div class="value-range-options ml-3 collapse">
             <input type="text" class='value-range-number' name="value-min" placeholder="min"> <span class='bigtext'>&le; </span><input type="text" class='value-range-observation' name="value-obs" placeholder="observation"> <span class='bigtext'>&le;</span> <input type="text" class='value-range-number' name="value-max" placeholder="max"><br>
         </div>
     </div>
     #}
     <div class="form-element">
     <label>Metrics</label><br>
       <input type="checkbox" name="MAE" value="metrics">MAE<br>
       <input type="checkbox" name="RMSE" value="metrics">RMSE<br>
       <input type="checkbox" name="MBE" value="metrics">MBE<br>
       {#<input type="checkbox" name="metrics" value="Skill over">Skill over <input type='text' class="form-control" style="width:inherit"/><br>#}
     </div>
    {{ form.token() }}
  </div>
</form>
<button type="submit" form="report-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
